@import "tailwindcss";

@layer base {
  :root {
    --color-table-header: #deb5b5;
    --color-table-rows: #cdcdcd;
    --main-color: #e1003c;
    --default-botification-item: blue;
    --urgent-notification-item: red;
    font-size: large;
  }

  @theme {
    --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  }
}

@layer base {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  body {
    @apply p-3 max-[912px]:p-0;
  }

  td,
  th {
    @apply border border-gray-400 pl-2;
  }

  li {
    display: list-item;
  }

}